<mat-toolbar color="primary">
    <span class="app-logo">Angular Api-Pokemon</span>
        
    <span class="example-spacer"></span>
        
    <button mat-button [routerLink]="['/']" routerLinkActive="active">
        Inicio
    </button>
        
    <span class="menu-spacer"></span>
        
    <a
        mat-icon-button
        target="_blank"
        aria-label="Github Repo link"
        href="https://github.com/MauroQui/apiPokemonAngular"
        >
        <img src="/assets/pokeball-icon-27038.jpg" />
    </a>
</mat-toolbar>
